<!--------------------------------------------------------------------------------------------------------------------------------
                                                        Signals (Updated)
--------------------------------------------------------------------------------------------------------------------------------->
<div class="alert alert-secondary border-0">
    <h5 class="fw-bold">* Updated</h5>
    <hr>
    <p class="mb-0"><b>- </b>Update the Value of the Signal Based on <strong>Current Value</strong>, and notify any dependents.</p>
</div>

<table class="table w-25">
    <thead>
        <tr>
            <th>-</th>
            <th>Qty</th>
            <th>+</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-danger btn-sm" (click)="onDecreaseQty()">-</button></td>
            <td>{{qty()}}</td>
            <td><button class="btn btn-success btn-sm" (click)="onIncreaseQty()">+</button></td>
        </tr>
    </tbody>
</table>
<br><br>